@import "../../variables.scss";

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25%;
  gap: 15px;
  &-form {
    padding: 20px;
    background-color: $white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 400px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    &-title {
      margin: 0;
      text-align: center;
    }
    input,
    &-button {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      box-sizing: border-box;
    }
    input {
      border: 1px solid #ccc;
      &:focus {
        outline: none;
        border-color: #526d82;
      }
    }
    &-button {
      background-color: $primary-color;
      color: $white;
      border: none;
      cursor: pointer;
    }
  }
  &-existing-acc {
    text-align: center;
    a {
      color: $primary-color;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}