@import '../../variables.scss';

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  &:focus {
    outline: none;
    border-color: #526d82;
  }
}

.input-error {
  border-color: red;
}
