@import '../../variables';

.button {
  background-color: $primary-color;
  color: $white;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
