@import '../../variables';

.button {
  background-color: #16437E;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  &:hover,
  &:focus {
    background-color: #27374D;
    color: #ffffff;
  }
  &:active {
    background: #09223b;
    color: rgba(255, 255, 255, 0.7);
  }
}
